<h2 class="uppercase heros">
  Upcoming Exhibition:
</h2>

<div class="margin-top-10">
  <h2 class="text-underline padding-bottom-h2 heros">
  <a target="_blank" href="http://www.mercerunion.org/exhibitions/nep-sidhu-medicine-for-a-nightmare-they-called-we-responded">
      Medicine for a Nightmare
  </a>
</h2>
  <h2 class="padding-bottom-h2 times">
    Opening 8 February 2019 7:00 pm
    <br/>
    Closing 23 March 2019
  </h2>

  <h2 class="times">
    Mercer Union
    <br/>
    1286 Bloor West
    <br/>
    Toronto Ontario, Canada
    <br/>
    M6H 1N9
  </h2>
</div>
