<h2 class="uppercase">
  Watch The Video:
</h2>

<div class="margin-top-10">
  <h2 class="padding-bottom-h2">
    <span class="uppercase text-underline">
      <a href="https://www.youtube.com/watch?v=xZkKW26WU6U&t=132s">Quarzarz on 23rd</a>
    </span>
    <br/>
    Quazarz vs The Jealous Machines
    <br/>
    Shabazz Palaces
  </h2>

  <h2 class="">
    Michael Reynolds, Tiona Nekkia
    <br/> Mcclodden,
    Noel Chaput,<br/> Alex Mcloed, Michael Singh,
    Allix <br/>
     Thompson, Bhai Vir Singh
  </h2>
</div>
