<h4 class="uppercase heros">
  Upcoming Exhibition:
</h4>

<div class="margin-top-10">
  <h4 class="text-underline padding-bottom-h4 heros">
  <a target="_blank" href="http://www.mercerunion.org/exhibitions/nep-sidhu-medicine-for-a-nightmare-they-called-we-responded">
      Medicine for a Nightmare
  </a>
</h4>
  <h4 class="padding-bottom-h4 times">
    Opening 8 February 2019 7:00 pm
    <br/>
    Closing 23 March 2019
  </h4>

  <h4 class="times">
    Mercer Union
    <br/>
    1286 Bloor West
    <br/>
    Toronto Ontario, Canada
    <br/>
    M6H 1N9
  </h4>
</div>
