<div class="text-wrap flex-container">

    <div> <!-- flex 1 -->
      <div class="list-wrap">
      <p class="uppercase">
        Solo Exhibitions
      </p>
      <ul>
        <li>
          <span class="year">
            2016
          </span>
          <span class="title">
            Shadows in the Major Seventh.
          </span>
          <span class="location">
            Surrey Gallery of Art, Surrey, BC, Canada.
          </span>
        </li>
      </ul>
    </div>
    <div class="list-wrap">
    <p class="uppercase">
      GROUP ExhibitionS
    </p>
    <ul>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
      <li>
        <span class="year">
          2018
        </span>
        <span class="title">
          Conflicting Heroes
        </span>
        <span class="location">
          Art Mûr Berlin, Berlin Biennale, Germany.
        </span>
      </li>
    </ul>
  </div>
  </div><!-- flex 1 -->

  <div>
    <p class="uppercase">
      Biography
    </p>
    <p>
      (Nep) Nirbhai Singh Sidhu is an interdisciplinary artist who lives and works in Toronto, ON, Canada. Sidhu’s art practice highlights conceptual and technical components originating from antiquity, with relevance for the present. His primary reference points are sound, language, architecture, and adornment.
    </p>
    <p>
      Nep Sidhu’s art practice resides along a continuum comprised of conceptual and technical components originating from ancestry, with relevance for the present. His sculptural practice combines language, light-baring materials, and incantation thus creating a third space that unifies endless parallels and possibilities. This work is informed by the interplay of script, textile, the poetic wave of architecture, and an affinity for community.
    </p>
    <p class="uppercase">
      Paradise Sportif
    </p>
    <p>
      The line of Paradise Sportif garments are made with the “maker/worker body” in mind, the body as it should be: free to produce what it likes, when it likes. With this understanding, the economy and its objects are the agreeable expressions of the producer’s body, a body that is entirely in control of what it does. When a non-creative and controlled economy’s objects are the only output of a free body, the body becomes a deformed vessel and stunted slave of that economy and of those objects. Labor becomes estranged, and the very body and mind of the maker/worker pays a grave price. Disconnected Labour divides one from its own body, from its spiritual being, its human being.
    </p>
    <p class="uppercase">
      Sher-E-Punjab Academy
    </p>
    <p>
      In my ancestral home of Chakar, Punjab, my family and I have formed Sher-E-Punjab Academy; an institution of boxing and learning for the village youth of Chakar. In addition to the physical regimen, the students also engage in educational programming and life coaching. Our approach is to bring change to the community by empowering young girls, who are the building blocks to the village’s future.
    </p>
    <p>
      With boxing being at the forefront of this initiative, I explore the intersection of sport and ceremony through an adornment and textile based practice under the name, Paradise Sportif. It is here where my investigation into vestment and a non-commercial clothing line bring forth an ideal conduct for the work to live in contemporary spaces. The guiding principle is protect and exalt. Paradise Sportif readies individuals to engage with the sacred that exists within themselves and their environment. Garments are made for the women of Sher-E-Punjab, the artist collective; Black Constellation and artists Shabazz Palaces.
    </p>
    <p>
      Aesthetic components are drawn from a myriad of textile and ornamental traditions which I use to leverage, reinforce, and disguise ceremony. This dialogue between sport and ceremony upholds considerations around time, place, and divine connectivity
    </p>
    <p class="uppercase">
      The Black Constellation
    </p>
    <p>
      Nep Sidhu is a member of the creative collective Black Constellation, along with Shabazz Palaces, Maikoiyo Alley-Barnes, Juliana Meira do Valle, Kahlil Joseph and more. The Black Constellation consists of a unified cross-disciplinary guild of Soothsayers, Makers, Empaths, and Channels. Their terrestrial offerings have been myriad, including sentient offspring production, the facilitation of cultural phenomena, the perpetuation of ancient ritual, and the undertaking of the new and remarkable. In all things, The Black Constellation combines the astral and the earthly, the gorgeous with the abjectly honest, and the ancient with the as-of-yet unimagined ... all the while remaining in constant communion with the Sacred.
    </p>
    <p class="text-underline">
      Transcendence, Transformation and Continuum:
    </p>
    <p class="text-underline">
      Summer 2014 at Seattle’s Frye Art Museum.
    </p>
    <p class="text-underline">
      Pitchfork: Black Constellation’s Revolutionary Now.
    </p>
    <p class="uppercase">
      Contact
    </p>
    <p>
      Email: info@nepsidhu.com
    </p>
    <p>
      Instagram: @nepsidhu
    </p>
  </div>

</div> <!-- text-wrap end -->
