<h2 class="uppercase">
  Watch The Video:
</h2>
<div class="flex-container flex-center h-80">
    <h2>
      <span class="uppercase text-underline">
        Quarzarz on 23rd
      </span>
      <br/>
      Quazarz vs The Jealous Machines
      <br/>
      Shabazz Palaces
    </h2>
    <h2>
      Michael Reynolds, Tiona Nekkia
      <br/> Mcclodden,
      Noel Chaput,<br/> Alex Mcloed, Michael Singh,
      Allix <br/>
       Thompson, Bhai Vir Singh
    </h2>
</div>
