<div class="flex-container space-between h-80">
  <h2 class="uppercase">
    Watch The Video:
  </h2>
  <!-- <div class=""> -->
    <h2>
      <span class="uppercase text-underline">
        Quarzarz on 23rd
      </span>
      <br/>
      Quazarz vs The Jealous Machines
      Shabazz Palaces
    </h2>
    <h2>
      Michael Reynolds, Tiona Nekkia Mcclodden,
      Noel Chaput, Alex Mcloed, Michael Singh,
      Allix Thompson, Bhai Vir Singh
    </h2>
  <!-- </div> -->
</div>
