<h2 class="uppercase">
  Upcoming Exhibition:
</h2>

<div class="margin-top-10">
  <h2 class="text-underline uppercase">
  <a target="_blank" href="https://museumofcontemporaryart.ca/calendar/international-grand-opening-weekend/">
      Believe
  </a>
</h2>
  <h2 class="padding-bottom-h2">
    Opening September 22nd, 10:00 am
    <br/>
    Closing January 6th
  </h2>

  <h2 class="">
    The Museum of Contemporary Art
    <br/>
    158 Sterling Road
    <br/>
    Toronto, Ontario, Canada
    <br/>
    M6R 2B2
  </h2>
</div>
