<div class="flex-container space-between h-80">
  <h2 class="uppercase">
    Upcoming Exhibition:
  </h2>
  <h2>
    <span class="uppercase text-underline">
      Believe
    </span>
    <br/>
    Opening September 22nd, 10:00 am
    Closing January 6th
  </h2>
  <h2>
    The Museum of Contemporary Art
    158 Sterling Road
    Toronto, Ontario, Canada
    M6R 2B2
  </h2>
</div>
