<h4 class="uppercase heros">
  Watch The Video:
</h4>

<div class="margin-top-10">
  <h4 class="padding-bottom-h4 heros">
    <a target="_blank" class="text-underline uppercase" href="https://www.youtube.com/watch?v=xZkKW26WU6U">
      Quarzarz on 23rd
    </a>
  </h4>
  <h4 class="times padding-bottom-h4">
    Quazarz vs The Jealous Machines
    <br/>
    Shabazz Palaces
  </h4>
  <h4 class="times">
    Michael Reynolds, Tiona Nekkia
    <br/> McClodden,
    Noel Chaput,<br/> Alex McLeod, Michael Singh,
    Allix <br/>
     Thompson, Bhai Vir Singh
  </h4>
</div>
