<h2 class="uppercase heros">
  Watch The Video:
</h2>

<div class="margin-top-10">
  <h2 class="padding-bottom-h2 heros">
    <a target="_blank" class="text-underline uppercase" href="https://www.youtube.com/watch?v=xZkKW26WU6U&t">
      Quarzarz on 23rd
    </a>
  </h2>
  <h2 class="times">
    <br/>
    Quazarz vs The Jealous Machines
    <br/>
    Shabazz Palaces
  </h2>

  <h2 class="times">
    Michael Reynolds, Tiona Nekkia
    <br/> McClodden,
    Noel Chaput,<br/> Alex McLeod, Michael Singh,
    Allix <br/>
     Thompson, Bhai Vir Singh
  </h2>
</div>
