<div id="pinContainer">
  <section class="panel blue">
    <h1>ONE</h1>
  </section>
  <section class="panel pink">
    <h1>TWO</h1>
  </section>
  <section class="panel purple">
    <h1>THREE</h1>
  </section>
  <section class="panel green">
    <h1>FOUR</h1>
  </section>
</div>
