<div id="pinContainer">
  <section class="panel one flex-container flex-center">
    <%= render "section_one" %>
  </section>
  <section class="panel two flex-container flex-center ">
    <%= render "section_two" %>
  </section>
  <section class="panel three flex-container flex-center ">
    <%= render "section_three" %>
  </section>
  <section class="panel four flex-container flex-center ">
    <%= render "section_four" %>
  </section>
</div>
