// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

#pinContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.panel {
  height: 100vh;
  width: 100vw;
  display:block;
  position: absolute;
}
.one,
.three {
  background-color: #ff6600;
	color: #002147;
}
.two {
  background-color: #002147;
	color: #ff6600;
}
.four {
  background-color: #ffffff;
	color: #002147;
}
