// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// NEUTRALIZE

* {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

// NEUTRALIZE END

#pinContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.panel {
  height: 100vh;
  width: 100vw;
  display:block;
  position: absolute;
}
.one,
.three {
  background-color: #ff6600;
	color: #002147;
}
.two {
  background-color: #002147;
	color: #ff6600;
}
.four {
  background-color: #ffffff;
	color: #002147;
}

h1 {
  // font-size: 16vw;
  text-align: center;

}
h2 {
  // font-size: 7vw;
  text-align: center;
}
p {
  font-size: 16px;
}
.panel.four {
  margin-top: 100vh;
  height: fit-content;
}
.uppercase {
  text-transform: uppercase;
}
.center {
  text-align: center;
}
.text-underline {
  text-decoration: underline;
}
.flex-container {
  display: flex;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.space-between {
  justify-content: space-between;
  flex-direction: column;
}
.h-80 {
  height: 80vh;
}
.text-wrap {
  height: inherit;
  flex-direction: column;
  width: calc(100vw - 60px);
  padding-top: 25px;

  p {
    line-height: 1.2em;
  }
  p, .list-wrap {
    padding-bottom: 1em;
  }
  p.uppercase {
    padding-top: 1em;
  }
  .list-wrap {
    ul {
      li {
        padding-bottom: 1em;
        display: flex;
        flex-wrap: wrap;
        span {
          // flex: 1;
          &.year {
            width: 40px;
          }
          &.title {
            flex-grow: 1
          }
          &.location {
            margin-left: 40px;
            width: 100%;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 750px) {
    > div {
      flex: 1;
      &:nth-child(1) {
        margin-left: 12px;
      }
      &:nth-child(2) {
        margin-right: 12px;
      }
    }
  }
}

@media only screen and (min-width: 750px) {
  .text-wrap {
    flex-direction: row-reverse;
  }

  .text-wrap .list-wrap ul li span.year {
    width: 8.5%;
  }
  .text-wrap .list-wrap ul li span.location{
    margin-left: 8.5%;
  }
}
.list-wrap {
  width: 100%;

  .year {
  }
  .title {
    flex-grow: 1;
  }
  .location {
  }
}
